<!DOCTYPE HTML>
<%- include('../partials/navbar') %>

			<div class="jumbotron well" align="center">
				<h2 align="center">
					New Server
				</h2>


				<form action="/new" method="POST" >
				IP: <input type="text" name="ip" value=""> <br>
				Port: <input type="text" name="port" value="27015"><br>		
				<br><br>
				<input type="submit" value="Submit">
				</form>

				<% if(msg) { %>
				<%= msg %>
				<% } %>


			</div>